html,body{height:90%;}
body{
	background:#0097ff;
	background:radial-gradient(ellipse at center,#0ca7cc 0%, #05c1fd 70%);
	}
p{margin:0;padding:0;}
#orologio{
	font-family:'Roboto',monospace;
	
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
	color: #daf6ff;
	text-shadow: 0 0 20px #05c1fd, 0 0 20px rgb(0, 46, 62);
}
#orologio .ora{
	letter-spacing:0.05em;
	font-size:80px;
	padding:5px 0;
}
#orologio .data{
	letter-spacing:0.1em;
	font-size:20px;
}